extends layout/layout.pug


block head
  - var project = 'artfin'
  - var project_fullname = "Artfin"

  - var prev = 'mcd'
  - var next = 'projects'

  - var imgIndices = '01,02,03,04'.split(',')

  title #{project_fullname} | Xin Zhang

block content
  div(class=`project-${project}-img`)

  section.container.pt-60.pb-60
    .detail-text
      .project-name #{project_fullname}
      .col-container
        .col.col-60
          .body(style='margin-top:0;') Art Fin is a real-time navigation for art exhibition and applied in 2015 Lumen Prize Exhibition. Smart phone is generally a kind of connection between individuals, especially when people like to bring it everywhere. With this concern, it can replace the traditional instruction or navigation and play a role of guiding visitors. Meanwhile, through this way, it also helped organizer to collect date of visitors’ preference  which is featured to design a show more technically.

        .col
          .title Category
          .body Mobile Navigation Design

          .title.mt-10 Role
          .body UI/UX Designer
    each index in imgIndices
      .detail-img-wrapper
        img.detail-img(src=`/dist/image/${project}/detail-${project}-${index}.jpg`)
