extends layout/layout.pug

block head
  - var project = 'live-in-the-real'
  - var project_fullname = 'Live in the Real'

  - var prev = "projects"
  - var next = "more"

  - var imgIndices = '01,03,04'.split(',')

  title #{project_fullname} | Xin Zhang

block content
  div(class=`project-${project}-img`)

  section.container.pt-60.pb-60
    .detail-text
      .project-name #{project_fullname}
      .col-container
        .col.col-60
          .body(style='margin-top:0;') Seagull Studio is an online printing studio, producing photos into a varity of forms. The Logo is based on seagull’s silhouette and associated with camera viewfinder to remind people of beautiful memories.
        .col
          .title Category
          .body E-commerce, iOS &amp; Android Application

          .title.mt-10 Role
          .body UI/UX Designer, Photographer
    .embed-container
      iframe(src="https://player.vimeo.com/video/228435300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    each index in imgIndices
      .detail-img-wrapper
        img.detail-img(src=`/dist/image/${project}/detail-${project}-${index}.jpg`)
